wget
Pillow
aiohttp
psutil
tgcrypto
pymoe
requests_html
ffmpeg
pykeyboard
psycopg2
psycopg2-binary
requests
google_trans_new
emoji
aiofiles
poetry
numpy
pyrogram==1.4.16
requests
aiohttp[speedups]
APScheduler==3.7.0
bs4
pymongo
dnspython
motor<2.4.0,>=2.1.0
speedtest-cli
redis
telegraph
odmantic
tracemoepy

